#addNew {
  padding: 2rem;
  box-sizing: border-box;
}

#addNew form {
  position: relative;
  width: 75vw;
  max-width: 480px;
  padding: 1em;
  box-sizing: border-box;
  border: 2px solid var(--green);
  border-radius: var(--outside);
}

#addNew form > * {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}

#addNew form h3 {
  align-self: stretch;
  position: sticky;
  top: 0;
  padding-block: .5em;
  background-color: var(--dark);
  text-align: center;
}

#addNew label span {
  text-transform: uppercase;
  font-size: small;
}

#addNew label span+*{
  margin-top: 2px;
}

#addNew input {
  display: block;
  padding: .5em;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid var(--green);
  border-radius: var(--inside);
}

#addNew input::selection{
  background-color: var(--green);
  color: black;
}

/* #addNew .select-box {
  
  text-transform: uppercase;
  border: 2px solid var(--green);
  border-radius: var(--inside);
} */