
input {
  appearance: none;
  display: block;
  background-color: transparent;
  color: inherit;
  padding: .5em;
  font-size: 1rem;
  box-sizing: border-box;
  outline: inherit;
  border: 2px solid var(--green);
  border-radius: var(--inside);
}

input[type="text"],
input[type="number"]{
  width: 100%;
}

.flex input:not([type="radio"]:not([type="checkbox"])) {
  flex-grow: 1;
  align-self: stretch;
}

::placeholder {
  color: inherit;
  /* font-family: var(--bodyFont); */
  opacity: .5;
  font-family: initial;
  font-style: italic;
}

/* form.custom-form input[type="radio"]{
  border-radius: 50% !important;
} */

legend {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: .1em;
}

label {
  display: block;
}

textarea {
  appearance: none;
  display: block;
  width: 100%;
  padding: .5em;
  resize: vertical;
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
  border: 2px solid var(--green);
  border-radius: var(--inside);
  outline: inherit;
  box-sizing: border-box;
}

textarea::-webkit-resizer {
  display: none;
}

::selection {
  background-color: var(--green);
  color: black;
}

.required::after {
  content:"*";
  color: red;
  /* font-size: 1rem; */
  padding-left: .25em;
}

/* ::::::::\ CHECKBOX /:::::::: */

.custom-checkbox {
  /* --size: 2rem; */
  --color: inherit;
  cursor: pointer;
  position: relative;
  /* margin-top: 1em; */
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;
  /* border: 2px solid var(--color); */
  /* border-radius: 50%; */
}

.custom-checkbox input[type='checkbox'] {
  position: absolute;
  inset: 0;
  width: 0;
  height: 0;
  border: none;
  visibility: hidden;
}

.custom-checkbox .checkmark {
  --size: 1.5rem;
  --color: inherit;
  width: var(--size);
  height: var(--size);
  margin-right: .5rem;
  box-sizing: border-box;
  border: 2px solid var(--color);
  border-radius: 50%;
  mix-blend-mode: lighten;
}

.custom-checkbox input[type='checkbox']:checked+.checkmark {
  --color: inherit;
  background-color: var(--color);
}

.custom-checkbox svg {
  --size: 60%;
  --color: inherit;
  width: var(--size);
  height: var(--size);
  fill: black;
  opacity: 0;
  transition: 0.1s ease-out;
}

.custom-checkbox input[type='checkbox']:checked~.checkmark svg {
  opacity: 1;
}

.custom-checkbox .label-text {
  font-size: .75rem;
  line-height: 1em;
}

/* ::::::::\ SELECT BOX /:::::::: */

.select-box {
  position: relative;
  box-sizing: border-box;
}

.select-box .wrapper {
  position: relative;
  padding: .5em;
  border: 2px solid var(--green);
  border-radius: var(--inside);
  box-sizing: border-box;
}

.option-display {
  cursor: pointer;
  position: relative;
  line-height: 1em;
  z-index: 2;
}

.option-display::after {
  content: var(--cancel);
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: .5em; */
  /* background-color: red; */
  color: inherit;
  /* font-family: monospace; */
  font-size: 1rem;
  line-height: 1em;
  transform-origin: center;
  /* transform: rotate(45deg); */
  /* border: 1px solid red; */
  opacity: 0.25;
  transition: 0.1s ease-out;
  box-sizing: border-box;
}

.option-display.open::after {
  transform: rotate(45deg);
  opacity: 1;
}

.option-display:hover::after {
  opacity: 1;
}

.option-display.flex {
  justify-content: space-between;
}

.option-display svg {
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  stroke: var(--lavender);
  stroke-width: 8;
  transform: rotate(90deg);
}

.option-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background-color: var(--dark);
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.1s ease-out;
  box-sizing: border-box;
  overflow: hidden;

}

.option-list.open {
  opacity: 1;
  z-index: 10000;
}

.option-list li {
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  line-height: 1em;
  /* border: 1px solid cyan; */
}

.option-list li:focus {
  background-color: var(--mid);
}

/* ::::::::\ TOGGLE /:::::::: */

.toggle input[type="checkbox"]{
  position: absolute;
  visibility: hidden;
}

.cb-toggle {
  --size: 1.25rem;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--green);
  padding: 3px;
  width: calc(var(--size)*2);
  height: var(--size);
  border-radius: 100px;
  transition: 0.2s ease-out;
}

.cb-toggle::before{
  --size: inherit;
  content: "";
  display: block;
  width: var(--size);
  height: var(--size);
  transition: inherit;
  background-color: var(--green);
  border-radius: 50%;
}

input:checked+.cb-toggle{
  background-color: var(--green);
}

input:checked + .cb-toggle::before {
  --size: inherit;
  background-color: var(--dark);
  transform: translateX(var(--size));
}

/* ::::::::\ MENU /:::::::: */

.select-menu {
  position: sticky;
  top:1em;
  left: 0;
  margin-right: 1em;
  padding-block: 1em;
  border: 2px solid var(--green);
  border-radius: var(--outside);
  transition: .2s ease-out;
}

.flex .select-menu{
  align-self: flex-start;
}


.select-menu input[type="radio"]{
  position: absolute;
  visibility: hidden;
}

.select-menu input[type="radio"]+label {
  cursor: pointer;
  border: 2px solid var(--green);
  margin-bottom: .5em;
  padding: .5em;
  font-family: var(--keyFont2);
  font-size: smaller;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: var(--inside);
  transition: .1s ease-out;
}

.select-menu input[type="radio"]:checked+label{
  background-color: var(--green);
  color: var(--dark);
}

/* ::::::::\ WORD BANK /:::::::: */

.word-bank {
  border: 2px solid var(--green);
  box-sizing: border-box;
  border-radius: var(--outside);
}

.word-bank legend {
  font-size: small;
  text-transform: uppercase;
}

.word-bank .new-entry-wrap {
  box-sizing: border-box;
  border: 2px solid var(--green);
  border-radius: var(--inside);
}

.word-bank .new-entry-wrap input.new-entry {
  position: relative;
  border: none !important;
}

.word-bank .new-entry-wrap button {
  --size: 2em;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  margin-inline: .5em;
  border-radius: 50%;
  border: 2px solid var(--green);
  transition: .1s ease-out;
}

.word-bank .new-entry-wrap button::before {
  content: var(--cancel);
  font-size: smaller;
  font-weight: bold;
}

.word-bank .entry-cache .entry {
  cursor: pointer;
  margin: 0 .5em .5em 0;
  padding: .25em;
  background-color: var(--green);
  color: var(--dark);
  line-height: 1em;
  border-radius: 2px;
  box-sizing: border-box;
}

.word-bank .entry-cache .entry .delete-entry{
  cursor: pointer;
  display: inline-block;
  font-size: .5em;
  font-weight: bold;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: .1s ease-out;
  /* border: 1px solid red; */
}

.word-bank .entry-cache .entry .delete-entry::after {
  content: "\2573";
}

.word-bank .entry-cache .entry:hover .delete-entry{
  width: auto;
  padding-left: 1em;
  opacity: .5;
}

/* ::::::::\ CHOICE BOX /:::::::: */

.choice-box {
  border: 2px solid var(--green);
  border-radius: var(--outside);
}

.choice-box label {
  cursor: pointer;
  position: relative;
  padding: .25em;
}

.choice-box label::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--inside);
  background-color: var(--green);
  opacity: 0;
}

.choice-box label:hover::after{
  opacity: .1;
}

/* .choice-box label:not(:last-of-type) {
  margin-bottom: .25em;
} */

.custom-form .choice-box input:not([type="text"]) {
  display: none ;
}

.custom-form .choice-box .ticker {
  --size: 1rem;
  position: relative;
  flex-grow: 0;
  margin-right: .5em;
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--green);
  /* border-radius: 50%; */
}

.custom-form .choice-box .ticker::before{
  content: "";
  position: absolute;
  display: block;
  inset: 3px;
  background-color: var(--green);
  /* border-radius: inherit; */
  transform: scale(.5);
  opacity: 0;
  transition: .1s ease-out;
}

.custom-form .choice-box input:checked+.ticker::before {
  transform: scale(1);
  opacity: 1;
}

.custom-form .choice-box .ticker.radio {
  border-radius: 50%;
}

.custom-form .choice-box .ticker.radio::before {
  border-radius: inherit;
}

.custom-form .choice-box .ticker.checkbox{
  border-radius: var(--inside);
}

.custom-form .choice-box .ticker.checkbox::before {
  border-radius: 2px;
}

/* ::::::::\ CHOICE BOX (COMPLEX) /:::::::: */

.choice-box.complex .wrapper {
  position: relative;
  margin-bottom: .25rem;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.choice-box.complex .entry-header {
  cursor: pointer;
  padding: .25rem;
  background-color: var(--green);
  color: var(--dark);
  box-sizing: border-box;
  border-radius: var(--inside);
}

.choice-box.complex .entry-header.flex {
  justify-content: space-between;
}

.choice-box.complex .entry-header > label {
  padding: 0;
}

.choice-box.complex .entry-header span {
  flex-grow: 1;
}

.choice-box.complex .entry-header .arrow {
  --size: .75em;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: var(--size);
  height: var(--size);
  margin-right: .5em;
  box-sizing: border-box;
  /* background-color: white; */
}

.choice-box.complex .entry-header .arrow::after {
  --border: 2px solid black;
  content: "";
  position: absolute;
  inset: 0;
  border-top: var(--border);
  border-right: var(--border);
  border-top-right-radius: 3px;
  /* transform: rotate(45deg); */
  transition: .2s ease-out;
  box-sizing: border-box;
}

.choice-box.complex .entry-header.open .arrow::after {
  transform: rotate(135deg);
}

.choice-box.complex .entry-header.closed .arrow::after {
  transform: rotate(45deg);
}

.choice-box .ticker {
  background-color: black;
  border: none;
}

.choice-box .drawer {
  overflow: hidden;
  transition: .2s ease-out;
}

.choice-box .drawer.closed {
  max-height: 0;
}

/* ::::::::\ FIELDSET /:::::::: */

.custom-form fieldset.wrapper {
  border-radius: var(--outside);
  border-color: inherit;
  box-sizing: border-box;
}

.custom-form fieldset.wrapper > *:not(legend) {
  margin-bottom: .5em;
}


/* ========================================= *\
|| >> HOVER <<
\* ========================================= */

@media (hover:hover) {
  .option-list li:hover {
    background-color: var(--green);
    color: var(--dark);
  }

  .select-menu input[type="radio"]:hover+label{
    background-color: var(--green);
    color: var(--dark);
  }

  .word-bank .new-entry-wrap button:hover {
    background-color: var(--green);
    color: var(--dark);
  }
}