input {
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: inherit;
  outline: inherit;
}

.flex input {
  flex-grow: 1;
  align-self: stretch;
}

/* ::::::::\ CHECKBOX /:::::::: */

.custom-checkbox {
  /* --size: 2rem; */
  --color: inherit;
  cursor: pointer;
  position: relative;
  /* margin-top: 1em; */
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;
  /* border: 2px solid var(--color); */
  /* border-radius: 50%; */
}

.custom-checkbox input[type='checkbox'] {
  position: absolute;
  inset: 0;
  width: 0;
  height: 0;
  border: none;
  visibility: hidden;
}

.custom-checkbox .checkmark {
  --size: 1.5rem;
  --color: inherit;
  width: var(--size);
  height: var(--size);
  margin-right: .5rem;
  box-sizing: border-box;
  border: 2px solid var(--color);
  border-radius: 50%;
  mix-blend-mode: lighten;
}

.custom-checkbox input[type='checkbox']:checked+.checkmark {
  --color: inherit;
  background-color: var(--color);
}

.custom-checkbox svg {
  --size: 60%;
  --color: inherit;
  width: var(--size);
  height: var(--size);
  fill: black;
  opacity: 0;
  transition: 0.1s ease-out;
}

.custom-checkbox input[type='checkbox']:checked~.checkmark svg {
  opacity: 1;
}

.custom-checkbox .label-text {
  font-size: .75rem;
  line-height: 1em;
}

/* ::::::::\ SELECT BOX /:::::::: */

.select-box {
  position: relative;
  box-sizing: border-box;
}

.select-box .wrapper {
  position: relative;
  padding: .5em;
  border: 2px solid var(--green);
  border-radius: var(--inside);
  box-sizing: border-box;
}

.option-display {
  cursor: pointer;
  position: relative;
  line-height: 1em;
  z-index: 2;
}

.option-display::after {
  content: '\254B';
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: .5em; */
  /* background-color: red; */
  color: inherit;
  /* font-family: monospace; */
  font-size: 1rem;
  line-height: 1em;
  transform-origin: center;
  /* transform: rotate(45deg); */
  /* border: 1px solid red; */
  opacity: 0.25;
  transition: 0.1s ease-out;
  box-sizing: border-box;
}

.option-display.open::after {
  transform: rotate(45deg);
  opacity: 1;
}

.option-display:hover::after {
  opacity: 1;
}

.option-display.flex {
  justify-content: space-between;
}

.option-display svg {
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  stroke: var(--lavender);
  stroke-width: 8;
  transform: rotate(90deg);
}

.option-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background-color: var(--dark);
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.1s ease-out;
  box-sizing: border-box;
  overflow: hidden;

}

.option-list.open {
  opacity: 1;
  z-index: 1;
}

.option-list li {
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  line-height: 1em;
  /* border: 1px solid cyan; */
}

.option-list li:focus {
  background-color: var(--mid);
}

/* ::::::::\ TOGGLE /:::::::: */
.toggle input[type="checkbox"]{
  position: absolute;
  visibility: hidden;
}

.cb-toggle {
  --size: 1.25rem;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--green);
  padding: 3px;
  width: calc(var(--size)*2);
  height: var(--size);
  border-radius: 100px;
  transition: 0.2s ease-out;
}

.cb-toggle::before{
  --size: inherit;
  content: "";
  display: block;
  width: var(--size);
  height: var(--size);
  transition: inherit;
  background-color: var(--green);
  border-radius: 50%;
}

input:checked+.cb-toggle{
  background-color: var(--green);
}

input:checked + .cb-toggle::before {
  --size: inherit;
  background-color: var(--dark);
  transform: translateX(var(--size));
}

/* ::::::::\ MENU /:::::::: */

.select-menu {
  position: sticky;
  top:1em;
  left: 0;
  margin-right: 1em;
  padding-block: 1em;
  border: 2px solid var(--green);
  border-radius: var(--outside);
}

.flex .select-menu{
  align-self: flex-start;
}

.select-menu legend {
  /* display: block; */
  /* padding-inline: .25em; */
  font-size: small;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.select-menu input[type="radio"]{
  position: absolute;
  visibility: hidden;
}

.select-menu input[type="radio"]+label {
  cursor: pointer;
  border: 2px solid var(--green);
  margin-bottom: .5em;
  padding: .5em;
  font-family: var(--keyFont2);
  font-size: smaller;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: var(--inside);
  transition: .1s ease-out;
}

.select-menu input[type="radio"]:checked+label{
  background-color: var(--green);
  color: var(--dark);
}

/* ========================================= *\
|| >> HOVER <<
\* ========================================= */

@media (hover:hover) {
  .option-list li:hover {
    background-color: var(--green);
    color: var(--dark);
  }

  .select-menu input[type="radio"]:hover+label{
    background-color: var(--green);
    color: var(--dark);
  }
}