/* .data-table-wrap {
  position: relative;
  padding: .5em;
  border-radius: var(--inside);
  border: 1px solid var(--pop);
  box-sizing: border-box;
} */

.data-table {
  position: relative;
  /* display: block; */
  margin: 0;
  /* border: 1px solid red; */
  border-collapse: collapse;
  border-radius: var(--inside);
  /* overflow: hidden; */
  /* width: 100%;
  max-width: 100%; */
}

.data-table.grid {
  grid-template-columns: repeat(var(--columns), auto);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 2px;
}

.data-table > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex .data-table {
  align-self: stretch;
}

.data-table, .data-table > * {
  box-sizing: border-box;
  white-space: nowrap;
  /* border: 1px solid orange; */
}

.data-table tr {
  position: relative;
  border-radius: var(--inside);
}

.data-table tr:not(.data-list):not(:nth-last-of-type(2)){
  border-bottom: 1px solid var(--pop);
}

/* .data-table thead > tr {
  background-color: var(--pop);
  color: var(--dark);
} */

.data-table thead>tr {
  border-bottom: 1px dotted var(--pop);
}

.data-table .header,
.data-table .entry-index
 {
  color: var(--mint);
  font-weight: 400;
  font-variant: small-caps;
  /* text-align: center; */
  text-transform: lowercase;
}

.data-table tbody tr:not(.data-list){
  cursor: pointer;
}

.data-table td:not(.data-list td) {
  /* padding: .25em; */
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .data-table td:not(.data-list td):not(tr td:first-of-type){
  border: 1px solid var(--pop);
} */

.data-table .data-list {
  grid-column: 2/-1;
  overflow: hidden;
  transition: .1s ease-out;
  border: 1px solid coral;
}

.data-table .data-list.closed {
  display: block;
  opacity: 0;
  max-height: 0;
}

.data-table .data-list.open {
  opacity: 1;
}

.data-table .data-list > td {
  padding: .5em;
}

/* %%%%%%%%%%%%%%%/ HOVER \%%%%%%%%%%%%%%% */

@media(hover:hover){
  /* .data-table tbody tr:not(.data-list):hover{
    background-color: var(--pop);
    opacity: .5;
  } */
}
